<div id="CalledByTrackingDialog">
  <div>
    <div class="sbSegment">
      <table class="sbGroup Officials">
        <col class="Position" />
        <col class="Display" />
        <thead>
          <tr class="sbHeader">
            <th colspan="2">Skating Officials</th>
          </tr>
          <tr class="sbSubHeader">
            <th>Position</th>
            <th>Display in &quot;Called By&quot; Tracking</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Inside Pack Referee</td>
            <td><input type="checkbox" class="PositionOption" data-position="IPRF,IPRR" checked /></td>
          </tr>
          <tr>
            <td>Jammer Referee</td>
            <td><input type="checkbox" class="PositionOption" data-position="JR1,JR2" checked /></td>
          </tr>
          <tr>
            <td>Outside Pack Referee</td>
            <td><input type="checkbox" class="PositionOption" data-position="OPRF,OPRM,OPRR" checked /></td>
          </tr>
          <tr>
            <td>Referee Alternate</td>
            <td><input type="checkbox" class="PositionOption" data-position="RA" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="sbSegment">
      <table class="sbGroup Officials">
        <col class="Position" />
        <col class="Display" />
        <thead>
          <tr class="sbHeader">
            <th colspan="2">Non-Skating Officials</th>
          </tr>
          <tr class="sbSubHeader">
            <th>Position</th>
            <th>Display in &quot;Called By&quot; Tracking</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Penalty Lineup Tracker</td>
            <td><input type="checkbox" class="PositionOption" data-position="PLT1,PLT2" checked /></td>
          </tr>
          <tr>
            <td>Penalty Tracker</td>
            <td><input type="checkbox" class="PositionOption" data-position="PT" /></td>
          </tr>
          <tr>
            <td>Penalty Wrangler</td>
            <td><input type="checkbox" class="PositionOption" data-position="PW" checked /></td>
          </tr>
          <tr>
            <td>Jam Timer</td>
            <td><input type="checkbox" class="PositionOption" data-position="JT" /></td>
          </tr>
          <tr>
            <td>Scorekeeper</td>
            <td><input type="checkbox" class="PositionOption" data-position="SK1,SK2" /></td>
          </tr>
          <tr>
            <td>ScoreBoard Operator</td>
            <td><input type="checkbox" class="PositionOption" data-position="SBO" /></td>
          </tr>
          <tr>
            <td>Penalty Box Manager</td>
            <td><input type="checkbox" class="PositionOption" data-position="PBM" checked/></td>
          </tr>
          <tr>
            <td>Penalty Box Timer</td>
            <td><input type="checkbox" class="PositionOption" data-position="PBT1,PBT2" /></td>
          </tr>
          <tr>
            <td>Lineup Tracker</td>
            <td><input type="checkbox" class="PositionOption" data-position="LT1,LT2" /></td>
          </tr>
          <tr>
            <td>Non-Skating Official Alternate</td>
            <td><input type="checkbox" class="PositionOption" data-position="NSOA" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>